<%= form_for @recipe do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br>
  <ul>
    <lh>Ingredient:</lh>
    <%= f.fields_for :ingredients do |ingr| %>
      
    <li><%= ingr.label :name %>
        <%= ingr.text_field :name %></li>

    <li><%= ingr.label :quantity %>
        <%= ingr.text_field :quantity %></li>

  <% end %><br>
  <%= f.submit %>
<% end %>
